.app-container {
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  
  
  
  .sidebar-admin {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 20px;
  }
  
  
  .site-icon, .admin-username, .statistics, .user-reports {
    margin-bottom: 20px;
    height: 50px;
    background-color: #f0f0f0; /* Placeholder for actual content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-content {
    flex: 1;
    padding: 30px;
  }
  
  .league-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Placeholder for actual content */
    padding: 20px;
  }
  
  
  
  
  .league-name, .edit-league {
    height: 30px; 
    width: 100px; 
    background-color: #e0e0e0; 
  }
  
  .edit-league {
    cursor: pointer;
  }